SERVICE_NAME=grounded-sam2-api
REGION=asia-northeast1
CLOUD_RUN_REGION=us-central1
GOOGLE_CLOUD_PROJECT=your-project-id
PORT=58080
GROUNDED_SAM2_URL=*******
GCS_SAM2_MODEL_PATH=gs://path/to/sam2.1_hiera_large.pt
GCS_GDINO_MODEL_PATH=gs://path/to/groundingdino_swint_ogc.pth
